@inherits LayoutComponentBase
<link rel="stylesheet" href="css/styles.css" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="about-link">About</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<footer class="footer">
    <p>&copy; 2024 - My Application - <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Learn More</a></p>
</footer>

<div id="blazor-error-ui">
    <p>An unhandled error has occurred.</p>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


