<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Facturación</a>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="counter">Counter</NavLink>
        <NavLink class="nav-link" href="weather">Weather</NavLink>
        <NavLink class="nav-link" href="productos">Productos</NavLink>
        <NavLink class="nav-link" href="categorias">Categorías</NavLink>
        <NavLink class="nav-link" href="facturas">Facturas</NavLink>
        <NavLink class="nav-link" href="tickets">Tickets</NavLink>
    </nav>
</div>

