.top-row {
    background-color: #343a40; /* Color oscuro */
}

.navbar-brand {
    font-weight: bold;
}

.nav-scrollable {
    display: none; /* Ocultar inicialmente */
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block; /* Mostrar al activar el menú */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding: 10px 15px; /* Espaciado interno */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

    .nav-link:hover {
        background-color: #495057; /* Color de fondo al pasar el mouse */
    }
