@page "/categorias"
@using Facturacion.DTO
@using Facturacion.Services

<h3>Lista de Categorías</h3>

@if (categorias == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in categorias)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@inject CategoriaService categoriaService

@code {
    private List<CategoriaResponse> categorias;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categorias = await categoriaService.GetCategorias();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
