@page "/tickets"
@using Facturacion.DTO
@using Facturacion.Services

<h3>Tickets</h3>
<link rel="stylesheet" href="css/styles.css" />
@if (tickets == null)
{
    <p><em>Cargando...</em></p>
} 
else 
{
    @foreach (var ticket in tickets)
    {
    <div class="ticket-container">
        <h2 class="ticket-title">Ticket de Compra</h2>
        <table class="ticket-table">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>@ticket.Descripcion</td>
                        <td>@ticket.Cantidad</td>
                        <td>@ticket.Total</td>
                    </tr>
               
            </tbody>
        </table>
        <div class="ticket-footer">
            <p>Gracias por su compra!</p>
            <p>Fecha: @DateTime.Now.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    }
}

@inject TicketService ticketService
@code {
    private List<TicketResponse> tickets;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tickets = await ticketService.GetTickets();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
